.search-wrapper
  padding: .5rem
  input
    outline: none
    font-size: 5vw
    display: block
    border: none
    border-bottom: 3px solid #4a4a4a
    width: 100%
    background: transparent
  
.items-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: center
  margin: 1rem

.item
  display: flex
  flex-direction: column
  margin: 1rem
  transition: 300ms
  cursor: pointer
  border-radius: 6px
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02)
  color: #4a4a4a
  background: #0a0a0a05
  .img-wrapper
    width: 500px
    height: 500px
    display: flex
    justify-content: center
    align-items: center
    img
      display: block
      max-width: 100%
      max-height: 100%
  span
    font-size: 2rem
    text-align: center
  &:hover
    transform: translate(0px, -0.5rem)